#map-container-4 {
    height: 100vh;
}
.card.infoMarker {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: white;
}

#infoMarker {
    width: 408px;
    position: absolute;
    left: 10px;
    top: 80px;
}

@media (max-width: 800px) {
    #infoMarker {
        right: 10px;
        width: auto;
    }
}

.last-mile {
    display: block;
}

.modal-body.routelist {
    max-height: 500px;
    overflow-y: scroll;
}

@media(min-width: 992px) {
    img.routelist {
        width: 250px !important;
    }
}

.modal-dialog.checkin {
    max-width: 100%;
    margin: 0;
    top: 0;
}


.modal-dialog.routelist {
    max-width: 100%;
    position: fixed;
    margin: 0;
    bottom: 0;
}

img.routelist {
    width: 150px;
}

.modal.modal-content-clickable {
    top: auto;
    bottom: auto;
}

.file-field.big .file-path-wrapper {
  height: 3.2rem;
}
  .file-field.big .file-path-wrapper .file-path {
    height: 3rem;
}
