#map-container-4 {
    height: 100vh;
}
.card.infoMarker {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: white;
}

#infoMarker {
    width: 408px;
    position: absolute;
    left: 10px;
    top: 80px;
}

@media (max-width: 800px) {
    #infoMarker {
        right: 10px;
        width: auto;
    }
}

.last-mile {
    display: block;
}
